@use 'fonts' as *;

body {
	background-color: #000;

	@media (max-width:767.98px) {
		background-color: rgba(95, 95, 95, 0.886);
	}

	span {
		color: #fff;

		// background: url('@img/завантаження.png') 0 0 no-repeat;
		@media (max-width:767.98px) {
			color: #ffffffd8;
		}
	}
}