@use "sass:math";
@use "base/mixins" as *;

// Шрифт по умолчанию
$fontFamily: "";
$fontSize: rem(14);

// Основные цвета
$mainColor: #000;

// НАСТРОЙКИ
$minWidth: 320;
$maxWidth: 1920;
$maxWidthContainer: 1170;
$containerPadding: 30;

// Брейк-поинты
$containerWidth: $maxWidthContainer + $containerPadding;
$pc: em($containerWidth);
$tablet: em(991.98);
$mobile: em(767.98);
$mobileSmall: em(479.98);

// Тип адаптива
$responsiveType: 1;